# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.env
.env amazon
.env.heroku
.env.save
.dotenv
.dotenv old
.zip
dashboard/.env
# /utils used by heroku
# dependencies
/~
/node_modules
/.pnp
.pnp.js

/src/XXX_metronic
/amplify
/utils

# testing
/coverage
/build

# redactor
/.idea

# assets
# /public/media
# /src/_metronic/_assets/js
# /src/_metronic/_assets/plugins
# /src/_metronic/_assets/sass



# production
/_site
/dist
/public

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
src/index.zip

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
amplify/backend/.temp

dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
#amplify-do-not-edit-end
